{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card bg-light mt-5 mb-3 w-100 p-3">
            <div class="card-header"><p class="h2"><i class="fas fa-trash-alt"></i> &nbsp &nbsp Delete Created Project</p></div>
            <div class="card-body w-100">
                <h5 class="card-title">Delete your analysis project by verifing project name, email and analysis code</h5>
                <br>
                <p class="card-text">Please enter your 'Project name', 'Email address' and 'Analysis code' below. After you press the "Delete Project" button, the specified project would be deleted from database.</p>
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="{{message.tags}}" {% endif %} role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <br>
                    <a href={% url 'new_analysis' %}><button type="button" class="btn btn-success">Start new project!</button></a>
                    <a href={% url 'homepage' %}><button type="button" class="btn btn-outline-secondary">Back to homepage</button></a>
                {% else %}
                               <br>
                <div class="col-md-7">
                    <form method="POST" class="w-100">
                        {% csrf_token %}
                        {{ form|crispy }}


                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Delete Project</button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Delete Created Project</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                             Are you sure you want to delete project ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" type="submit">Yes, I want to delete</button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 100px">
</div>
{% endblock content %}
