{% extends 'base_checkfile.html' %}

{% block extraheader %}
{% load static %}
{% load staticfiles %}
<!-- pace animation -->
<link rel="stylesheet" href="{% static 'dataanalysis/css/home.css' %}">
{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

<!-- <script src="{% static 'dataanalysis/js/basic_upload.js' %}"></script> -->

<script src="{% static 'js/basic_upload.js' %}"></script>
<script src="{% static 'dataanalysis/js/main.js' %}"></script>

{% endblock extraheader %}
{% block content %}

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="well text-muted text-center js-upload-photos" style="margin: 5%; padding-top: 4rem; padding-bottom: 4rem; border-width:5px;border-style:dashed;border-color:#6B757D; border-radius:25px; background: #e2e2e2">
  <i class="fas fa-cloud-upload-alt fa-5x"></i><h2>Drop Photos Here to Upload</h2>
</div> -->
<!-- <button type="button" class="btn btn-primary js-upload-photos">
  <i class="fas fa-cloud-upload-alt fa-5x"></i> Upload photos
</button> -->

<!-- <input id="fileupload" type="file" name="file" multiple
       style="display: none;"> -->

       <form method="post" enctype="multipart/form-data" required="True">
           <div id="paired-end-container"></div>
           {% csrf_token %}
           <div class="custom-file">
               <!-- <input type="hidden" value="paired" name="paired_or_single"> -->
               <input type="file" name="file" class="custom-file-input" id="fileupload" multiple>
               <label class="custom-file-label" for="inputGroupFile01">Choose R1 file (*.1.fastq.gz)</label>
           </div>
       </form>


<button id="up_btn">Upload</button>


        <script>
        // Change color would be done in the future !!! (It is not working right now!)
            $('#fileupload').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(cleanFileName);
                reg_exp_1 = /([a-zA-Z0-9\s_\\.\-\(\):])+(.R1.fastq.gz)$/i
                if (cleanFileName.match(reg_exp_1)) {
                    console.log("Change color to green");
                    $('#inputGroupFile01').css("background-color", "#97dbac");
                } else {
                    console.log("Change color to red");
                    $('#inputGroupFile01').css("background-color", "#db9797");
                }
            })
        </script>



<!-- <input id="fileupload" type="file" name="file" multiple
       style="display: none;"
       data-url="{% url 'dataanalysis_data_upload' %}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'> -->




<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    {% for data in datas %}
      <tr>
        <td><a href="{{ data.file.url }}">{{ data.file.name }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock content %}
