{% extends 'base_checkfile.html' %}

{% block extraheader %}
{% load static %}
{% load staticfiles %}
<!-- pace animation -->
<link rel="stylesheet" href="{% static 'dataanalysis/css/home.css' %}">
{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

<!-- <script src="{% static 'dataanalysis/js/basic_upload.js' %}"></script> -->

<script src="{% static 'js/basic_upload.js' %}"></script>
<script src="{% static 'dataanalysis/js/main.js' %}"></script>

{% endblock extraheader %}
{% block content %}

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>

       <form method="post" enctype="multipart/form-data" required="True">
           <div id="paired-end-container"></div>
           {% csrf_token %}
           <div class="custom-file">
               <!-- <input type="hidden" value="paired" name="paired_or_single"> -->
               <input type="file" name="file" class="custom-file-input" id="fileupload" multiple>
               <label class="custom-file-label" for="inputGroupFile01">Choose R1 file (*.1.fastq.gz)</label>
           </div>
       </form>


<button id="up_btn">Upload</button>



<table id="data_selected" class="table table-bordered">
  <thead>
    <tr>
      <th>Data</th>
    </tr>
  </thead>
  <tbody id="data_selected_body">
  </tbody>
</table>



<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    {% for data in datas %}
      <tr>
        <td><a href="{{ data.file.url }}">{{ data.file.name }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock content %}
