{% extends 'base_checkfile.html' %}

{% block extraheader %}
{% load static %}
{% load staticfiles %}
<!-- pace animation -->
<link rel="stylesheet" href="{% static 'dataanalysis/css/home.css' %}">
{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

<!-- <script src="{% static 'dataanalysis/js/basic_upload.js' %}"></script> -->

<script src="{% static 'js/basic_upload.js' %}"></script>
<script src="{% static 'dataanalysis/js/main.js' %}"></script>

{% endblock extraheader %}
{% block content %}

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="well text-muted text-center js-upload-photos" style="margin: 5%; padding-top: 4rem; padding-bottom: 4rem; border-width:5px;border-style:dashed;border-color:#6B757D; border-radius:25px; background: #e2e2e2">
  <i class="fas fa-cloud-upload-alt fa-5x"></i><h2>Drop Photos Here to Upload</h2>
</div>
<!-- <button type="button" class="btn btn-primary js-upload-photos">
  <i class="fas fa-cloud-upload-alt fa-5x"></i> Upload photos
</button> -->
<button id="up_btn" type="up_btn" class="btn btn-success btn-lg btn-block">Upload</button>

       <!-- <form method="post" enctype="multipart/form-data" required="True">
           <div id="paired-end-container"></div>
           {% csrf_token %}
           <div class="custom-file">
               <input type="title" name="title" class="custom-file-input" multiple>
               <input type="file" name="file" class="custom-file-input" id="fileupload" multiple>
           </div>
       </form> -->
       <!-- <input type="project_name" name="project_name" multiple
              style="display: none;"
              data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'> -->

       <input id="fileupload" type="file" name="file_choose" multiple
              style="display: none;"
              data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>


<table id="data_selected" class="table table-bordered">
  <thead>
    <tr>
      <th>Selected files</th>
    </tr>
  </thead>
  <tbody id="data_selected_body">
  </tbody>
</table>



<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>Uploaded files</th>
    </tr>
  </thead>
  <tbody>
    {% for data in datas %}
      <tr>
        <td>
        <div class="row">
          <div class="col-6 col-md-4"><a href="{{ data.file.url }}">{{ data.file.name }}</a></div>
          <div class="col-6 col-md-4"><a href="{{ data.file.url }}">{{ data.file.name }}</a></div>
          <div class="col-6 col-md-4"><a href="{{ data.file.url }}">{{ data.file.name }}</a></div>
        </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div style="margin-bottom: 100px">
</div>
{% endblock content %}
