{% extends 'base_checkfile.html' %}

{% block extraheader %}
{% load static %}
{% load staticfiles %}
<!-- pace animation -->
<link rel="stylesheet" type="text/css" href="{% static 'css/dataanalysis_result_status.css' %}">
<link rel="stylesheet" href="{% static 'dataanalysis/css/home.css' %}">
{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

<!-- <script src="{% static 'dataanalysis/js/basic_upload.js' %}"></script> -->

<!-- <script src="{% static 'js/basic_upload.js' %}"></script> -->
<script src="{% static 'dataanalysis/js/main.js' %}"></script>

{% endblock extraheader %}
{% block content %}


<script>
  $(function () {

    $(".js-upload-photos").click(function () {
      $("#fileupload").click();
    });


    $("#up_btn").on('click', function (e) {
        e.preventDefault();
        $("#up_btn").trigger( "customName_submit_all_file");
    });

    file_list_final = [];
    correct_file_list = [];
    incorrect_file_list = [];
    displayed_correct_file_list = [];
    displayed_incorrect_file_list = [];
    dic = JSON.parse("{{samples_list_key}}".replace(/&#39;/g,'"'));
    console.log("dic: ", dic);
    jQuery.each(dic, function(i, val) {
      // $("#" + i).append(document.createTextNode(" - " + val));
      for (s of val) {
        console.log(s);
        // Do things here!!!!
        file_list_final.push(s+".R1.fastq.gz");
        file_list_final.push(s+".R2.fastq.gz");
      }
    });
    console.log("file_list_final: ", file_list_final);
    $("#fileupload").fileupload({
     dataType: 'json',
     sequentialUploads: true,  /* 1. SEND THE FILES ONE BY ONE */
     add: function (e, data) {
        $.each(data.files, function (index, file) {
          // First make sure filename is correct !
          // Start from here !!!!
          console.log("filename: ", file.name);
          console.log("incorrect_file_list: ", incorrect_file_list);
          console.log("correct_file_list: ", correct_file_list);
          if (file_list_final.includes(file.name)) {
            if (correct_file_list.includes(file.name)) {
            } else {
              correct_file_list.push(file.name);
            }
          } else {
            if (incorrect_file_list.includes(file.name)) {
            } else {
              incorrect_file_list.push(file.name);
            }
          }
          // console.log("correct_file_list: ", correct_file_list);
          // console.log("incorrect_file_list: ", incorrect_file_list);
          for (ins of incorrect_file_list) {
            if (file.name == ins) {
              if (!displayed_incorrect_file_list.includes(ins)) {
                displayed_incorrect_file_list.push(ins);
                console.log("Incorrect Inside:!!", ins);
                var newFilepulgin = $('<tr id="file_'+ file.name +'" style="background-color:#ffc9cd"><td><i class="fas fa-times fa-2x" style="position: relative; top: 7px;color: red"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="button" class="btn btn-danger" id="button_file_'+ file.name +'">Must Remove Selected File</button>&nbsp&nbsp&nbsp&nbsp <b>Filename: </b><a href="#" id="link_' + index + '" class="removeFile"> '+ file.name + '</a> &nbsp&nbsp&nbsp&nbsp <b>File Size: </b>'+ file.size +' byte </td></tr>');
                $('#data_selected_body').append(newFilepulgin);
                newFilepulgin.find('button').on('click', { filename: file.name, files: data.files }, function (event) {
                    console.log("Button clicked!");
                    event.preventDefault();
                    displayed_incorrect_file_list.splice(displayed_incorrect_file_list.indexOf(event.data.filename), 1);
                    console.log("displayed_incorrect_file_list:", displayed_incorrect_file_list);
                    var uploadFilesBox = $("#data_selected_body");
                    var remDiv = $(document.getElementById("file_" + event.data.filename));
                    remDiv.remove();
                    // displayed_incorrect_file_list.splice( displayed_incorrect_file_list.indexOf(event.data.filename), 1 );
                    data.files.length = 0;    //zero out the files array
                });
                data.context = newFilepulgin;
              }
            }
          }
          for (s of correct_file_list) {
            if (file.name == s) {
              if (!displayed_correct_file_list.includes(s)) {
                displayed_correct_file_list.push(s);
                console.log("Correct Inside:!!", s);
                var newFilepulgin = $('<tr id="file_'+ file.name +'" style="background-color:#eaffdb"><td><i class="fas fa-check fa-2x" style="position: relative; top: 3px;color: green"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Filename: </b><a href="#" id="link_' + index + '" class="removeFile"> '+ file.name + '</a> &nbsp&nbsp&nbsp&nbsp <b>File Size: </b>'+ file.size +' byte <button type="button" style="float: right;" class="btn btn-outline-danger" id="button_file_'+ file.name +'">remove selected file</button></td></tr>');
                $('#data_selected_body').append(newFilepulgin);
                newFilepulgin.find('button').on('click', { filename: file.name, files: data.files }, function (event) {
                    console.log("Button clicked!");
                    event.preventDefault();
                    displayed_correct_file_list.splice(displayed_correct_file_list.indexOf(event.data.filename), 1);
                    console.log("displaye_correct_file_list:", displayed_correct_file_list);
                    var uploadFilesBox = $("#data_selected_body");
                    var remDiv = $(document.getElementById("file_" + event.data.filename));
                    remDiv.remove();
                    data.files.length = 0;    //zero out the files array
                });
                data.context = newFilepulgin;
              }
            }
          }
        });

         $("#up_btn").click(function () {
           console.log("data.files.length: ", data.files.length);
             if (data.files.length > 0) {     //only submit if we have something to upload
                 console.log("$$$$$data.files.name: ", data.files[0].name);
                 data.submit();
                 var myNode = document.getElementById("file_" + data.files[0].name);
                 console.log("myNode: ", myNode);
                 // myNode.innerHTML = '';
             }
             // var myNode = $("#data_selected_body");
             // var myNode = document.getElementById("data_selected_body");
             // myNode.innerHTML = '';
         });
     },
     start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
       $("#modal-progress").modal("show");
     },
     stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
       $("#modal-progress").modal("hide");
       window.location.reload();
     },
     progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
       var progress = parseInt(data.loaded / data.total * 100, 10);
       var strProgress = progress + "%";
       $(".progress-bar").css({"width": strProgress});
       $(".progress-bar").text(strProgress);
     },
     done: function (e, data) {
       console.log("data.result.is_valid:", data)
       if (data.result.is_valid) {
         $("#gallery tbody").prepend(
           // "<tr><td><a href='" + data.result.url + "'>" + data.result.name + "</a></td></tr>"
           '<tr id="upload_'+ data.result.name +'"><td><div class="row"><div class="col-6 col-md-4"><b>Filename: </b><a href="'+ data.result.url + '" id="link_' + data.result.name + '" class="removeFile"> '+ data.result.name + '</a>  </div><div class="col-6 col-md-4"><b>File Size: </b> byte &nbsp&nbsp&nbsp&nbsp </div><div class="col-6 col-md-4"><button id="button_file_'+ data.result.name +'">remove selected file</button> </div></div></td></tr>'
           // '<tr><td>111</td></tr>'
         )
       }
     }

   });

  });
</script>


<div class="container">
    <div class="row">
        <div class="card bg-light mt-5 mb-3 w-100 p-3">
            <div class="card-header"><p class="h2"><i class="fas fa-info-circle"></i>  &nbsp &nbsp Files Upload </p></div>
            <div class="card-body w-100">
                <!-- <h5 class="card-title">Please select "Multiple Samples" tab or "One Sample" tab to upload the necessary files!</h5>
                <br> -->
                <div class="row" style="margin-top:20px">
                    <!-- <div class="col"><i class="fas fa-flag"></i><div> -->
                      <div class="col-auto">
                        <h5><i class="fas fa-flag"></i> &nbsp<b> Step 1: </b> &nbsp Select Multiple / One </h5>
                      </div>
                    <div class="col"><hr></div>
                </div>
                <p class="card-text" style="margin-left: 30px">Please choose <b>"Multiple Samples"</b> tab or <b>"One Sample"</b> tab to upload the necessary files! <br><b>Multiple Samples</b> mode requires a "<i>samples.csv</i>" file and several "<i>paired-end fastq.gz</i>" files.<br><b>One Sample</b> mode requires only one "<i>paired-end fastq.gz</i>" files.</p>

                <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Uploading...</h4>
                      </div>
                      <div class="modal-body">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

<style>
  .nav-tabs > .nav-link {
    color: #cecece;
  }
  .nav-tabs > .nav-link.active {
    border-color: #444444;
    border-width: 3px;
    color: #444444;
    background-color: #dddddd;
  }
  .nav-tabs > a:hover {
    color: #3ea9dd;
  }
</style>

                <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-left: 30px">
                    <a class="nav-item nav-link active" id="nav-multiple-sample-tab" data-toggle="tab" href="#nav-multiple-sample" role="tab" aria-controls="nav-multiple-sample" aria-selected="false"><b style="font-size: 20px">Multiple Samples</b></a>
                    <a class="nav-item nav-link" id="nav-one-sample-tab" data-toggle="tab" href="#nav-one-sample" role="tab" aria-controls="nav-one-sample" aria-selected="true"><b style="font-size: 20px">One Sample</b></a>
                </div>



                <div class="not-upload tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-one-sample" role="tabpanel" aria-labelledby="nav-one-sample-tab">
                        <br>
                        <form method="post" enctype="multipart/form-data" required="True">
                            <div id="paired-end-container"></div>
                            {% csrf_token %}
                            <div style="margin-right:30px;margin-left:30px;">
                              <div class="custom-file" style="margin-top: 10px">
                                  <input type="hidden" value="paired" name="paired_or_single">
                                  <input type="file" name="r1" class="custom-file-input" id="inputGroupFile01">
                                  <label class="custom-file-label" for="inputGroupFile01">Choose R1 file (*.1.fastq.gz)</label>
                              </div>
                              <div class="custom-file" style="margin-top: 10px">
                                  <input type="file" name="r2" class="custom-file-input" id="inputGroupFile02">
                                  <label class="custom-file-label" for="inputGroupFile02">Choose R2 file (*.1.fastq.gz)</label>
                              </div>
                              <br><br>
                                <button id="paired-end-button" name="upload-paired-end-file" class="btn btn-success btn-lg btn-block" type="submit">Upload Paired-End Files</button>
                            </div>

                            <script>
                            // Change color would be done in the future !!! (It is not working right now!)
                                $('#inputGroupFile01').on('change',function(){
                                    //get the file name
                                    var fileName = $(this).val();
                                    var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
                                    //replace the "Choose a file" label
                                    $(this).next('.custom-file-label').html(cleanFileName);
                                    reg_exp_1 = /([a-zA-Z0-9\s_\\.\-\(\):])+(.R1.fastq.gz)$/i
                                    if (cleanFileName.match(reg_exp_1)) {
                                        console.log("Change color to green");
                                        $('#inputGroupFile01').css("background-color", "#97dbac");
                                    } else {
                                        console.log("Change color to red");
                                        $('#inputGroupFile01').css("background-color", "#db9797");
                                    }
                                })

                                $('#inputGroupFile02').on('change',function(){
                                    //get the file name
                                    var fileName = $(this).val();
                                    var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
                                    //replace the "Choose a file" label
                                    $(this).next('.custom-file-label').html(cleanFileName);
                                })

                                $('#paired-end-button').click(function(){
                                    var myNode = document.getElementById("paired-end-container");
                                    myNode.innerHTML = '';
                                    file_1_size = document.getElementById("inputGroupFile01").files.length
                                    file_2_size = document.getElementById("inputGroupFile02").files.length
                                    file_name1 = document.getElementById("inputGroupFile01").value;
                                    file_name2 = document.getElementById("inputGroupFile02").value;
                                    reg_exp_1 = /([a-zA-Z0-9\s_\\.\-\(\):])+(.R1.fastq.gz)$/i
                                    reg_exp_2 = /([a-zA-Z0-9\s_\\.\-\(\):])+(.R2.fastq.gz)$/i
                                    checker = true;
                                    if (file_1_size == 0) {
                                        console.log("File 1 have not selected");
                                        $('#paired-end-container').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">You do not select <strong>R1 file</strong> !<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
                                        checker = false;
                                    }
                                    if (file_1_size == 1 & !file_name1.match(reg_exp_1)) {
                                        $('#paired-end-container').append('<div class="alert alert-warning alert-dismissible fade show" role="alert">R1 file name is <strong>INVALID</strong> ! (clue: <strong>"*.R1.fastq.gz"</strong>)<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
                                        checker = false;
                                    }
                                    if (file_2_size == 0) {
                                        console.log("File 2 have not selected");
                                        $('#paired-end-container').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">You do not select <strong>R2 file</strong> !<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
                                        checker = false;
                                    }
                                    if (file_2_size == 1 & !file_name2.match(reg_exp_2)) {
                                        $('#paired-end-container').append('<div class="alert alert-warning alert-dismissible fade show" role="alert">R2 file name is <strong>INVALID</strong> ! (clue: <strong>"*.R2.fastq.gz"</strong>)<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
                                        checker = false;
                                    }
                                    return checker
                                })
                            </script>
                        </form>
                        <br>
                    </div>

                    <div class="tab-pane fade show active" id="nav-multiple-sample" role="tabpanel" aria-labelledby="nav-multiple-sample-tab">

                      <div class="row" style="margin-top:60px">
                          <!-- <div class="col"><i class="fas fa-flag"></i><div> -->
                            <div class="col-auto">
                              <h5><i class="fas fa-flag"></i> &nbsp<b> Step 2: </b>  &nbsp Upload "<i>samples.csv</i>"</h5>
                            </div>
                          <div class="col"><hr></div>
                      </div>
                      <p class="card-text" style="margin-left: 30px">The filename of the uploaded file must be <b>"samples.csv"</b>.<br> The name of the two columns must be <b>"ids"</b> and <b>"Groups"</b>.<br>There can only be two kinds of values in <b>"Groups"</b>.</p>
                      {% if samples_txt_file_name == None %}
                        <form method="post" enctype="multipart/form-data">
                            <div id="samples-file-message-container"></div>
                            <div  id="multifile-descript-file-container"></div>
                            {% csrf_token %}
                            <div class="custom-file">
                                <input type="hidden" value="description" name="multifile-descript-file">
                                <input type="file" name="samples-files-selected" class="custom-file-input" id="description-file">
                                <label id="description-file-label" class="custom-file-label" for="description-file" style="color: #bfbfbf;" >Choose 'samples.csv' (CSV format)</label>
                            </div>
                            <br><br>
                            <button id="samples-files-upload-button" name="samples-files-upload" class="btn btn-success btn-lg btn-block" type="submit">Upload 'samples.csv'</button>
                            <script>
                                $('#description-file').on('change',function(){
                                    //get the file name
                                    var fileName = $(this).val();
                                    var cleanFileName = fileName.replace('C:\\fakepath\\', "");
                                    //replace the "Choose a file" label
                                    file_rule_name = "samples.csv";
                                    console.log("cleanFileName: ", cleanFileName);
                                    console.log("file_rule_name: ", file_rule_name);
                                    console.log("cleanFileName == file_rule_name: ", cleanFileName == file_rule_name);
                                    if (cleanFileName == file_rule_name) {
                                      $(this).next('.custom-file-label').html('<i class="fas fa-check"></i> &nbsp&nbsp' + cleanFileName);
                                      $('#description-file-label').css("color", "green");
                                    } else {
                                      $(this).next('.custom-file-label').html('<i class="fas fa-times"></i> &nbsp&nbsp' + cleanFileName);
                                      $('#description-file-label').css("color", "red");
                                    }
                                })

                                $('#samples-files-upload-button').click(function(){
                                    var myNode = document.getElementById("samples-file-message-container");
                                    myNode.innerHTML = '';
                                    file_1_size = document.getElementById("description-file").files.length
                                    file_name1 = document.getElementById("description-file").value;
                                    var cleanFileName = file_name1.replace('C:\\fakepath\\', "");
                                    file_rule_name = "samples.csv";
                                    checker = true;
                                    if (file_1_size == 0) {
                                        console.log("File 1 have not selected");
                                        $('#samples-file-message-container').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">You do not select <strong>"samples.csv"</strong> !<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
                                        checker = false;
                                    }
                                    if (file_1_size == 1 & cleanFileName != file_rule_name) {
                                      console.log("file_1_size: ", file_1_size);
                                      console.log("file_name1: ", cleanFileName);
                                        $('#samples-file-message-container').append('<div class="alert alert-warning alert-dismissible fade show" role="alert">Filename is <strong>INVALID</strong> ! (clue: must be <strong>"samples.csv"</strong>)<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
                                        checker = false;
                                    }
                                    return checker
                                })
                            </script>
                        </form>

                      {% else %}


                      <div class="row" style="margin-left:30px">
                          <div class=".col-12 .col-md-8">
                            <div class="check_mark" style="margin-top:-3px; transform: scale(0.35,0.35);">
                                <div class="sa-icon sa-success animate">
                                    <span class="sa-line sa-tip animateSuccessTip"></span>
                                    <span class="sa-line sa-long animateSuccessLong"></span>
                                    <div class="sa-placeholder"></div>
                                    <div class="sa-fix"></div>
                                </div>
                            </div>
                          </div>
                          <div class=".col-6 .col-md-4">
                            <p style="font-size:20px"><i><b>Success!!</b></i></p>
                          </div>
                      </div>
                      <div style="margin-left:60px">
                        <p>&nbsp&nbspUpload at: <a href=#>{{ samples_txt_file_name }}</a></p>
                      </div>
                      <div style="margin-left:30px">
                        <div class="row" style="margin:5px">
                          <script>
                          </script>
                          {% for key, value in samples_list_key.items %}
                            <div class="col">
                              <table id="sample_file_item" class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>{{ key }}</th>
                                  </tr>
                                </thead>
                              {% for ans in value %}
                              <tbody>
                                  <tr>
                                    <td>
                                    <div class="row">
                                      <div class="col-6 col-md-4"><a href="#"}">{{ ans }}</a></div>
                                    </div>
                                    </td>
                                  </tr>
                              </tbody>
                              {% endfor %}
                              </table>
                            </div>
                          {% endfor %}
                        </div>
                        <form method="post" enctype="multipart/form-data" required="True" style="margin-right:50px;margin-left:50px;">
                        {% csrf_token %}
                              <button id="delete-samples-file-button" name="remove-samples-file" class="btn btn-danger btn-lg btn-block" type="submit">Delete 'samples.csv'</button>
                        </form>

                      </div>

                      <div class="row" style="margin-top:60px">
                          <!-- <div class="col"><i class="fas fa-flag"></i><div> -->
                            <div class="col-auto">
                              <h5><i class="fas fa-flag"></i> &nbsp<b> Step 3: </b> &nbsp Upload paired-end fastq.gz samples</h5>
                            </div>
                          <div class="col"><hr></div>
                      </div>
                      <p class="card-text" style="margin-left: 30px">Please select <b>"Multiple Samples"</b> tab or <b>"One Sample"</b> tab to upload the necessary files!</p>
                      <div style="margin-left:30px;">
                        <div class="well text-muted text-center js-upload-photos" style="margin: 2%; padding-top: 4rem; padding-bottom: 4rem; border-width:5px;border-style:dashed;border-color:#6B757D; border-radius:25px; background: #e2e2e2">
                          <i class="fas fa-cloud-upload-alt fa-5x"></i><h2>Drop Photos Here to Upload</h2>
                        </div>

                        <form method="post" enctype="multipart/form-data" required="True" style="margin-right:50px;margin-left:50px;">
                        {% csrf_token %}
                          <div style="margin-right:50px;margin-left:50px;margin-bottom:15px">
                            <button id="up_btn" name="sample-each-upload-many" type="submit" class="btn btn-success btn-lg btn-block">Upload</button>
                          </div>
                        </form>

                          <input id="fileupload" type="file" name="file_choose" multiple
                                 style="display: none;"
                                 accept="fastq.gz"
                                 data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

                           <table id="data_selected" class="table table-bordered">
                             <thead>
                               <tr>
                                 <th>Selected files</th>
                               </tr>
                             </thead>
                             <tbody id="data_selected_body">
                             </tbody>
                           </table>



                           <table id="gallery" class="table table-bordered">
                             <thead>
                               <tr>
                                 <th>Uploaded files</th>
                               </tr>
                             </thead>
                             <tbody>
                               {% for data in datas %}
                                 <tr>
                                   <td>
                                   <div class="row">
                                     <div class="col-6 col-md-4"><a href="{{ data.file.url }}">{{ data }}</a></div>
                                     <div class="col-6 col-md-4"><a href="{{ data.file.url }}">{{ data }}</a></div>
                                     <div class="col-6 col-md-4"><a href="{{ data.file.url }}">{{ data }}</a></div>
                                   </div>
                                   </td>
                                 </tr>
                               {% endfor %}
                             </tbody>
                           </table>
                         {% endif %}
                      </div>



                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 100px">
</div>






<div style="margin-bottom: 100px">
</div>
{% endblock content %}
